header {
  margin: 10px 0;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
  font-weight: bold;
}

.info-bar img {
  width: 10px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  margin-top: 5px;
  font-size: 20px;
}

.menu-bar img {
  width: 15px;
}

.menu-bar__location {
  display: flex;
  justify-content: center;
  align-items: center;
}
